.title-skrim {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#ec-touch,
#invue-touch,
#opd-touch,
#qiq-touch,
#hp-touch,
#bc-touch,
#sb-touch,
#thelife-touch,
#taxfree-touch,
#nes-touch,
#cbb-touch,
#knopf-touch {
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  max-width: 300px;
  width: 300px;
}

/*#hp-touch,
#knopf-touch {
  background-size: 300px;
}
*/
#ec-touch {
  background-image: url(../../../site/assets/ec-dark.jpg);
/*  height: 300px;
*/}

#invue-touch {
  background-image: url(../../../site/assets/invue-dark.jpg);
  height: 600px;
}

#opd-touch {
  background-image: url(../../../site/assets/motion-dark.png);
  height: 300px;
}

#qiq-touch {
  background-image: url(../../../site/assets/qiq-dark.png);
  height: 300px;
}

#bc-touch {
  background-image: url(../../../site/assets/bc02-dark.jpg);
  height: 300px;
}

#hp-touch {
  background-image: url(../../../site/assets/hp-dark.jpg);
  height: cover;
}

#sb-touch {
  background-image: url(../../../site/assets/sb35-dark.jpg);
  height: 600px;
}

#thelife-touch {
  background-image: url(../../../site/assets/thelife-dark.jpg);
  height: 300px;
}

#taxfree-touch {
  background-image: url(../../../site/assets/taxfree-dark.jpg);
  height: 300px;
}

#nes-touch {
  background-image: url(../../../site/assets/nes-dark.jpg);
  height: 300px;
}

#cbb-touch {
  background-image: url(../../../site/assets/cbb-dark.jpg);
  height: 300px;
}

#knopf-touch {
  background-image: url(../../../site/assets/knopf-dark.jpg);
  height: 300px;
}
